@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');

body {
  background-image: url("https://cdn.discordapp.com/attachments/760894093651476551/771090429046292530/header-bg.jpg");

}

header{
  height: 94px;
  width: 1656px;
  align-items: center;


}

.header-container {
  height: 94px;
  display: flex;
  width: 1140px;
  justify-content: space-between;
}

.bootstrap {
  height: 32px;
  padding: 5%;
  align-items: center;
}

nav {
  padding-left: 450px;
  display: flex;
  justify-content: flex-end;
  width: 1000px;
  color: white;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Montserrat';
}

.navigation-items {
  display: flex;
  font-style: normal;
  margin: 5%;
  font-weight: 400;
}

.navigation-items:hover{
  color: #f8d04d;
}

.hamburger {
  display: none;
  color: white;
  background-color: #f8d04d;
  border-radius: 5px;
  padding: 5px;
  border: 0;
}

@media screen and (max-width: 991px){
  .hamburger {
    display: block;
  }

  header {
    background-color: #232228;
  }

  .header-container {
    height: 40px;
    padding: 16px 16px 0 16px;
  }

  nav {
    width: 720px;
  }



}
